<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fundpage</title>
    <link rel="icon" href="../static/images/favicon.jpg">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="../static/js/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="mainheader">
        <div style="background-color: #1d3277; width: 100%; height: 20px;"></div>
        <div id="headerbody">
            <div id="logo">
                <a href="/"><img src="../static/images/logo.png" /></a>
            </div>
            <div id="functions">
                <ul>
                    <li>
                        <a href="/stockchart"><i class="fa fa-bar-chart-o"></i><span>&nbsp;StockChart</span></a>
                    </li>
                    <li>
                        <a href="/dashboard"><i class="fa fa-pie-chart"></i><span>&nbsp;Information</span></a>
                    </li>
                    <li id="signup"><a href="#">Sign Up</a>&nbsp;&nbsp; | &nbsp;&nbsp;<a href="#">Login <i class="fa fa-sign-out"></i></a></li>
                </ul>
            </div>
        </div>
        <div style="background-color: #1d3277; width: 100%; height: 10px;"></div>
    </div>
    <div id="mainbody">
        <img src="../static/images/financial.png" />
    </div>
    <div id="footer"><img src="../static/images/footer.png" /></div>
</body>
</html>